$width : 375px ;
$height : 812px;
$bleu : #1BB0F6;

$blanc : #FFFFFF;

$gris : #707070;

$vert : #55C73A;

$jaune : #FFD10F;

$violet : #EC9DFF;

$orange1 : #E7790A;

$orange2 : #C48231;
